.footer-page {
  background-color: initial;
  text-align: center;
}
.footer-page div {
  background-color: #75dfff61;
  padding-top: 20px;
  padding-bottom: 20px;
}
.coppy-right {
  color: #20232a;
}
